<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>What Are Opioids? - N.O.P.E.</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/main.css">
  </head>
  <body>
    <div class="container-fluid">
        <nav class="row fixed-top">
            <div class="offset-lg-2 col-lg-3 logo-wrapper">
                <a href="../index.html">N.O.P.E.</a>
            </div>
            <ul class="col-lg-6 main-nav">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Prevention</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="opioids.html">What Are Opioids?</a>
                        <a class="dropdown-item button-fill" href="dispose.html">Safely Disposing Of Drugs</a>
                        <a class="dropdown-item button-fill" href="pain.html">Pain Management Option</a>
                    </div>
                </li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Treatment</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="meds.html">Medication For Opioid Addiction</a>
                        <a class="dropdown-item button-fill" href="od.html">Responding To An Overdose</a>
                        <a class="dropdown-item button-fill" href="tcny.html">Treatment</a>
                        <a class="dropdown-item button-fill" href="stigma.html">Fight The Stigma</a>
                    </div>
                </li>
                <li class="nav-item"><a href="Recovery.html">Learn More</a></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger">
                <div class="bar1 bar"></div>
                <div class="bar2 bar"></div>
                <div class="bar3 bar"></div>
            </div>
        </div>
        <section class="second">
            <div class="jumbotron-fluid">
                <div class="container center-jumbo3">
                </div>
            </div>
        </section>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="open-title">What Are Opioids?</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-3 col-lg-6 open-text">
                    <p>Opioids are a class of drugs that include the illegal drug heroin, synthetic opioids such as fentanyl, and pain relievers available legally by prescription, such as oxycodone (OxyContin®), hydrocodone (Vicodin®), codeine, morphine, and many others.
                    When used correctly under a health care provider's direction, prescription pain medicines are helpful. However, misusing prescription opioids risks dependence and addiction.
                    <a class="info-links" href="https://www.drugabuse.gov/publications/drugfacts/understanding-drug-use-addiction">Undunderstanding Drug Use Addiction</a>
                    The initial decision to take drugs is voluntary for most people, but can lead to brain changes that challenge an addicted person’s self-control and interfere with their ability to resist intense urges to take drugs.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.cdc.gov/drugoverdose/opioids/prescribed.html">Prescription Opioids</a>
                        In addition to the serious risks of addiction, abuse, and overdose, the use of prescription opioids can have many side effects, even when taken as directed.
                        <ul>
                            <li>
                                <a class="info-links" href="https://www.samhsa.gov/atod/opioids">Opioids: Basic Overview</a>
                            </li>
                            <li>
                                <a class="info-links" href="https://teens.drugabuse.gov/drug-facts/prescription-pain-medications-opioids//www.samhsa.gov/atod/opioids">Prescription Pain Medications: Opioids Guide for Teens</a>
                            </li>
                            <li>
                                <a class="info-links" href="https://medlineplus.gov/opioidabuseandaddiction.html">Opioid Abuse and Addiction</a>
                            </li>
                            <li>
                                <a class="info-links" href="https://medlineplus.gov/prescriptiondrugabuse.html">Prescription Drug Abuse</a>
                            </li>
                            <li>
                                <a class="info-links" href="https://www.drugabuse.gov/publications/research-reports/misuse-prescription-drugs/summary">Research Report: Prescription Drug Abuse</a>
                            </li>
                        </ul>
                    </p>
                    <p>
                        <a class="info-links" href="https://medlineplus.gov/druginfo/meds/a605043.html">Fentanyl and Other Synthetic Opioids</a>
                        Fentanyl and similar compounds like carfentanil are powerful synthetic opioids -- 50 to 100 times more potent than morphine. High doses of opioids, especially potent opioids such as fentanyl, can cause breathing to stop completely, which can lead to death.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.drugabuse.gov/publications/drugfacts/heroin">Heroin</a>
                        Heroin is a highly addictive drug made from morphine, which comes from opium poppy plants. Some prescription opioid pain medicines have effects similar to heroin. Research suggests that misuse of these drugs may open the door to heroin use.
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="row">
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Site Navigation</h4>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="Recovery.html">Risks</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Prevention</h4>
                        <li><a href="opioids.html">Opioids</a></li>
                        <li><a href="dispose.html">Safe Disposal</a></li>
                        <li><a href="pain.html">Pain Managament</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Treatment</h4>
                        <li><a href="meds.html">Addication Medication</a></li>
                        <li><a href="od.html">Overdose</a></li>
                        <li><a href="tcny.html">Treatment Centers</a></li>
                        <li><a href="stigma.html">Fight The Stigma</a></li>
                    </ul>
                    <div class="footer-menu col-lg-12 col-sm-12">
                        “New York City” is copyright (c) 2014 Andrés Nieto Porras and made available under a <a href="https://www.flickr.com/photos/anieto2k/16654352517">Attribution-Noncommercial-Share Alike 2.0</a> license.<br>
                    </div>
                </div>
                <div class="footer-bottom row">
                    <li class="col-lg-3">
                        &copy; 2018 Duque Designs
                    </li>
                    <li class="col-lg-9">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Privacy Policy</a>
                    </li>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../assets/index.js"></script>
  </body>
</html>
