<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PREVENTION - N.O.P.E.</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/main.css">
  </head>
  <body>
    <div class="container-fluid">
        <nav class="row fixed-top">
            <div class="offset-lg-2 col-lg-3 logo-wrapper">
                <a href="../index.html">N.O.P.E.</a>
            </div>
            <ul class="col-lg-6 main-nav">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Prevention</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="opioids.html">What Are Opioids?</a>
                        <a class="dropdown-item button-fill" href="dispose.html">Safely Disposing Of Drugs</a>
                        <a class="dropdown-item button-fill" href="pain.html">Pain Management Option</a>
                    </div>
                </li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Treatment</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="meds.html">Medication For Opioid Addiction</a>
                        <a class="dropdown-item button-fill" href="od.html">Responding To An Overdose</a>
                        <a class="dropdown-item button-fill" href="tcny.html">Treatment</a>
                        <a class="dropdown-item button-fill" href="stigma.html">Fight The Stigma</a>
                    </div>
                </li>
                <li class="nav-item"><a href="Recovery.html">Health Risks</a></li>
            </ul>
        </nav>
        <section class="second">
            <div class="jumbotron-fluid">
                <div class="container center-jumbo3">
                </div>
            </div>
        </section>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="open-title">Pain Managament Options</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-3 col-lg-6 open-text">
                    <p>Prescription opioids can be an effective form of pain management, but they are not always the only option. It is important to understand the potential benefits and risks before you begin taking medications.
                    <a class="info-links" href="https://www.fda.gov/ForConsumers/ConsumerUpdates/ucm529517.htm">What to Ask Your Doctor Before Taking Opioids</a>
                    Before you go to the doctor, review this checklist of questions about opioids and naloxone.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.cdc.gov/drugoverdose/pdf/patients/Get-the-Facts-a.pdf">Opioids for Acute Pain - Get the Facts - PDF </a>
                        In addition to the serious risks of addiction, abuse, and overdose, the use of prescription opioids can have many side effects, even when taken as directed.
                    </p>
                    <p>
                        <a class="info-links" href="https://store.samhsa.gov/list/series?name=Rx-Pain-Medications">Know the Options: Rx Pain Medication Series</a>
                        A series of 13 fact sheets to educate patients who are prescribed opioids for pain about the risks and to provide resources on methods for alternative pain management.
                        <a class="info-links" href="https://www.hhs.gov/blog/2017/11/01/advancing-the-practice-of-pain-management-under-the-hhs-opioid-strategy.html">Know Your Options: Nonopioid Treatments for Chronic Pain</a>
                        There are many ways to manage pain safely and effectively. Some options may actually work better than opioids and have fewer risks and side effects.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.hhs.gov/blog/2017/11/01/advancing-the-practice-of-pain-management-under-the-hhs-opioid-strategy.html">Advancing the Practice of Pain Management Under the HHS Opioid Strategy</a> Rethinking pain treatment is a critical piece of the HHS Five-Point Opioid Strategy unveiled in April 2017.
                        </a>
                        <a class="info-links" href="https://nccih.nih.gov/health/pain/consumer">Complementary and Integrative Approaches for Pain</a> Consumer information to help patients talk with health care providers about complementary and integrative health approaches for managing pain.
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="row">
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Site Navigation</h4>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="Recovery.html">Risks</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Prevention</h4>
                        <li><a href="opioids.html">Opioids</a></li>
                        <li><a href="dispose.html">Safe Disposal</a></li>
                        <li><a href="pain.html">Pain Managament</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Treatment</h4>
                        <li><a href="meds.html">Addication Medication</a></li>
                        <li><a href="od.html">Overdose</a></li>
                        <li><a href="tcny.html">Treatment Centers</a></li>
                        <li><a href="stigma.html">Fight The Stigma</a></li>
                    </ul>
                    <div class="footer-menu col-lg-12 col-sm-12">
                        “New York City” is copyright (c) 2014 Andrés Nieto Porras and made available under a <a href="https://www.flickr.com/photos/anieto2k/16654352517">Attribution-Noncommercial-Share Alike 2.0</a> license.<br>
                    </div>
                </div>
                <div class="footer-bottom">
                    <li class="bottom-item">
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li class="bottom-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="block">
                        &copy; 2018 Duque Designs
                    </li>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../assets/index.js"></script>
  </body>
</html>
