<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Health Risks About The Opioid Crisis - N.O.P.E.</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/main.css">
  </head>
  <body>
    <div class="container-fluid">
        <nav class="row fixed-top">
            <div class="offset-lg-2 col-lg-3 logo-wrapper">
                <a href="../index.html">N.O.P.E.</a>
            </div>
            <ul class="col-lg-6 main-nav">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Prevention</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="opioids.html">What Are Opioids?</a>
                        <a class="dropdown-item button-fill" href="dispose.html">Safely Disposing Of Drugs</a>
                        <a class="dropdown-item button-fill" href="pain.html">Pain Management Option</a>
                    </div>
                </li>
                <li class="nav-item dropdown-show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Treatment</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item button-fill" href="meds.html">Medication For Opioid Addiction</a>
                        <a class="dropdown-item button-fill" href="od.html">Responding To An Overdose</a>
                        <a class="dropdown-item button-fill" href="tcny.html">Treatment</a>
                        <a class="dropdown-item button-fill" href="stigma.html">Fight The Stigma</a>
                    </div>
                </li>
                <li class="nav-item"><a href="Recovery.html">Learn More</a></li>
            </ul>
        </nav>
        <div class="burger-container">
            <div class="burger">
                <div class="bar1 bar"></div>
                <div class="bar2 bar"></div>
                <div class="bar3 bar"></div>
            </div>
        </div>
        <section class="second">
            <div class="jumbotron-fluid">
                <div class="container center-jumbo3">
                </div>
            </div>
        </section>
        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="open-title">Treatment</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-3 col-lg-6 open-text">
                    <p>The belief that people can overcome their substance abuse challenges is the foundation of recovery. Recovery addresses the whole person and their community and is supported by peers, friends, and family members
                    <a class="info-links" href="https://www.samhsa.gov/recovery">Recovery & Recovery Support</a>
                    The initial decision to take drugs is voluntary for most people, but can lead to brain changes that challenge an addicted person’s self-control and interfere with their ability to resist intense urges to take drugs.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.recoverymonth.gov/">National Recovery Month</a>
                        Every September, the Substance and Mental Health Services Administration (SAMHSA) sponsors Recovery Month to increase awareness and understanding of mental and substance use disorders and celebrate the people who are recovering.
                        <a class="info-links" href="https://www.drugabuse.gov/related-topics/recovery">Recovery: Counselor Resources</a>
                        Recovery is a process through which people improve their health and wellness and strive to maintain a life free of substance misuse. The National Institute on Drug Abuse provides healthcare provider videos, toolkits, guides and more.
                    </p>
                    <p>
                        <a class="info-links" href="https://addiction.surgeongeneral.gov/key-findings/recovery">Recovery: The Many Paths to Wellness</a>
                        The Surgeon General’s Report on Alcohol, Drugs, and Health reviews the facts about substance misuse and how to use that information to address the issue.
                    </p>
                    <p>
                        <a class="info-links" href="https://www.samhsa.gov/brss-tacs">Bringing Recovery Supports to Scale Technical Assistance Center Strategy (BRSS-TACS)</a>
                        BRSS TACS helps programs, systems, states, territories, and tribes as they implement effective recovery supports and services for people of all ages and diverse populations with mental illness or substance use disorders.
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="row">
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Site Navigation</h4>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="Recovery.html">Risks</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Prevention</h4>
                        <li><a href="opioids.html">Opioids</a></li>
                        <li><a href="dispose.html">Safe Disposal</a></li>
                        <li><a href="pain.html">Pain Managament</a></li>
                    </ul>
                    <ul class="footer-menu col-lg-4 col-sm-12">
                        <h3>Treatment</h4>
                        <li><a href="meds.html">Addication Medication</a></li>
                        <li><a href="od.html">Overdose</a></li>
                        <li><a href="tcny.html">Treatment Centers</a></li>
                        <li><a href="stigma.html">Fight The Stigma</a></li>
                    </ul>
                    <div class="footer-menu col-lg-12 col-sm-12">
                        “New York City” is copyright (c) 2014 Andrés Nieto Porras and made available under a <a href="https://www.flickr.com/photos/anieto2k/16654352517">Attribution-Noncommercial-Share Alike 2.0</a> license.<br>
                    </div>
                </div>
                <div class="footer-bottom row">
                    <li class="col-lg-3">
                        &copy; 2018 Duque Designs
                    </li>
                    <li class="col-lg-9">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Privacy Policy</a>
                    </li>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../assets/index.js"></script>
  </body>
</html>
