*{
    font-family: "Helvetica", sans-serif;
}
html,body{
    height: 100%;
}

*, body, div, ul, li, p, h1, h2, h3, footer, img, input, legend, .btn-style{
    margin: 0;
    padding: 0;
}
.first {
  height:100vh;
  min-height: 500px;
  background-size:cover;
  background-image: url("ny.jpg");
  background-position: top center;
}
.first:last-child{
    background-position: top center;
    margin-top: 3.4%;
    height: inherit;
    background-image: url("victim.jpg");
}
.first h1{
    font-size: 4em;
    margin-bottom: 3%;
    font-weight: 600;
}
.second {
  height: 30vh;
  background-size:cover;
  background-image: url("ny.jpg");
  background-position: center;
}
.color2{
    background-color: #F34149;
}
.color1{
    background-color: #4C6FB8;
}
.lead{
    font-size: 1.6em;
    letter-spacing: .1em;
    font-weight: 600;
}
.home-content .col-lg-4{
    padding: .2%;
}
.home-content .row{
    padding: 0 5%;
}
.home-content .row:first-child{
    /* padding-bottom: 5%; */
}
.open-title{
    color: #4C6FB8;
    font-size: 2.4em;
    letter-spacing: .03em;
    /* padding-top: 2%; */
}
.open-text{
    padding: 3% 0;
    text-align: left;
    font-size: 1.4em;
    letter-spacing: .04em;
}
.title2{
    color: black;
    padding-bottom: 3%;
}
h5{
    font-size: 1.4em;
    letter-spacing: .03em;
    text-decoration: underline;
}
.card-title{
    padding-top: 10%;
    margin-bottom: 0;
    text-transform: uppercase;
}
.card-text{
    padding: 12% 5%;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: .04em;
}
.card-link{
    display: inline-block;
    padding: 6% 15%;
    border-radius: 10px;
    transition: .3s;
    border: 1px solid black;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: .1em;
}
.card-link:hover{
    font-weight: 800;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 2px 6px 1px #000;
    font-size: 1.4em;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.container{
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.container-fluid{
    padding: 0;
}
a:hover{
    color: white;
    text-decoration: underline;
}
nav{
    padding: 2% 0;
    font-weight: 600;
}
.logo-wrapper{
    font-size: 2.2em;
    letter-spacing: .1em;
    text-align: center;
}
.main-nav{
    letter-spacing: .1em;
    padding-left: 0;
    text-align: left;
    display: block;
}
.dropdown-menu{
    width: 40%;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 4px 6px -1 #000;
}
.dropdown-item{
    padding: 4% 10%;
    white-space: normal;
}
.button-fill{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    text-align: center;
    /* padding: 10px 0; */
    margin:0 auto;
    text-decoration: none;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color:#000;
    background-image: linear-gradient(to left, #fff 50%, #000 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
.button-fill:hover {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-position: bottom left;
  color: #fff;
}

.affix {
  background-color: rgba(0,0,0,1);
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;
  -o-transition:padding 0.2s ease-out;
  transition:padding 0.2s ease-out;
}
.affix li a:hover, .affix a:hover{
    color: white;
    text-decoration: underline;
}
.main-nav li{
    text-transform: uppercase;
    padding-top: 2.7%;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 1%;
}
section {
  height:calc(90% - 50px);
  height: 90vh;
}
.jumbotron-fluid{
    height: inherit;
    /* padding-top: 20%; */
    padding-left: 0;
    padding-right: 0;
}
.center-jumbo{
    text-align: center;
    height: inherit;
    padding: 2% 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    line-height: 5em;
    display: table;
}
.center-jumbo3{
    text-align: center;
    height: inherit;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    line-height: 5em;
    display: table;
}
.center-jumbo2{
    height: inherit;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    line-height: 1.8em;
    font-size: 1.4em;
    letter-spacing: .08em;
    display: table;
    padding: 15% 0;
}
.center-jumbo h1{
    padding-top: 18%;
}
.content{
    padding: 10% 0;
    text-align: center;
}
.home-content{
    background: rgba(155,230,245,1);
    padding-bottom: 0;
}
.content a{
    color: black;
}
.card{
    width: inherit;
    height: 100%;
    border: 0;
}
.card-body{
    width: 100%;
    padding: 0 -15px;
    padding-bottom: 14.1%;
    border: 1px solid rgba(0,0,0,.125);
}
nav a, .jumbotron-fluid{
    color: white;
}
.jumbo2-text{
    margin-top: -3%;
    text-align: center;
}
.jumbo2-text p{
    font-size: 1.2em;
}
.jumbo2-text h2{
    text-decoration: underline;
    padding-bottom: 8%;
    font-size: 1.8em;
}
.jumbo2-text .button-fill{
    margin-top: 10%;
    font-size: 1.2em;
    padding: 10% 10%;
    width: 100%;
    background-image: linear-gradient(to left, #fff 50%, #F34149 50%);
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 2px 6px 1px #000;
}
a.info-links{
    display: block;
    margin: 7% 0 1% 0;
    color: #4C6FB0;
    text-decoration: underline;
}
footer{
    width: 100%;
    font-size: 1em;
    background-color: rgba(0,0,0,.8);
}
footer, footer a{
    color: white;
}
.footer-menu{
    padding-top: 2%;
    letter-spacing: .2em;
    text-align: center;
    list-style: none;
}
.footer-menu a{
    text-transform: uppercase;
    font-size: .8em;
}
.footer-wrapper .footer-menu:last-child{
    display: none;
}
.footer-menu li{
    padding: 1% 0;
}
.footer-menu h3{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 2%;
    text-decoration: underline;
}
.footer-wrapper, .text-center{
    text-align: center;
}
.media-icons{
    width: 12%;
}
.footer-bottom{
    width: 100%;
    padding: 2%;
    font-size: .8em;
    letter-spacing: .1em;
    text-align: right;
}
.bottom-item{
    display: inline-block;
    padding: 0 1%;
}
.footer-bottom li:first-child{
    text-align: left;
}
.footer-bottom li{
    list-style: none;
    letter-spacing: .05em;
}

@media (min-width:400px) and (max-width: 769px){
    .first h1 {
        font-size: 2.5em;
        padding-top: 35%;
        margin-bottom: 15%;
    }
    .content .row:nth-child(2) .col-lg-4:last-child{
        padding-bottom: 0;
    }
    .content .row:nth-child(3) .col-lg-4:first-child{
        padding-top: 0;
    }
    .center-jumbo{
        line-height: 3em;
    }
    nav{
        background: #000;
    }
    .main-nav{
        display: none;
        height: 100%;
        padding-right: 0;
        text-align: center;
    }
    .main-nav li{
        display: block;
        padding-top: 3%;
        height: 25%;
        margin: 0;
    }
    .main-nav li:first-child{
        padding-top: 10%;
    }

    .main-nav a{
        display: block;
    }
    .dropdown-menu{
        width: 100%;
    }
    div.burger-container{
    text-align: right;
    margin-right: 30px;
    z-index: 1049;
    }
    div.burger{
        position: fixed;
        top: 3.5%;
        right: 5%;
        display: inline-block;
        z-index: 1050;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 4px;
        background-color: white;
        /* background-color: rgba(255,255,255,1); */
        transition: 0.5s;
    }
    .bar2{
        margin: 5px 0;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-6px, -6px);
    }
    .content .row{
        padding: 5% 10%;
    }
    .open-text a{
        padding: 3% 0;
    }
    footer{
        padding-top: 5%;
    }
    .footer-menu{
        padding: 5% 0;
    }
    .footer-bottom li{
        text-align: left;
        width: 30%;
    }
    .footer-bottom li:last-child{
        width: 70%;
        display: inline-block;
    }
}
